.cards_container {
  display: grid;
}

.cards_all {
  display: grid;
  grid-template-columns: 0% 100%;
  font-family: "Pacifico", cursive;
}

.cards_card {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  justify-content: center;
  text-align: center;
  min-height: 100%;
  grid-row-start: 2;
  grid-row-end: span 3;
  grid-column-start: 2;
  grid-column-end: 3;
  gap: 20px;
}

.navbar {
  grid-row-start: 2;
  grid-row-end: 2;
  display: block;
  text-align: center;
  opacity: 0; /* Inicialmente opacity 0 */
  visibility: hidden; /* Ocultar inicialmente NavBar */
  margin-left: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.cards_title {
  width: 100%;
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: rgb(245, 255, 234);
  background-color: rgba(105, 177, 28, 0.712);
}

.pagination {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: start;
  font-family: "Pacifico", cursive;
  color: rgba(16, 29, 4, 0.829);
}

.search {
  margin-right: 26%;
  margin-left: 95px;
  letter-spacing: 2px;
  background-color: rgba(196, 226, 166, 0.829);
  border: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 3px;
  width: 200px;
  color: rgba(16, 29, 4, 0.829);
}

.pagination_filter:hover {
  background-color: rgba(133, 175, 91, 0.829);
}

.pagination_prev {
  letter-spacing: 2px;
  background-color: rgba(196, 226, 166, 0.829);
  border: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 3px;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: rgba(16, 29, 4, 0.829);
}

.pagination_prev:hover {
  background-color: rgba(133, 175, 91, 0.829);
}

.pagination_next {
  margin-left: 10px;
  letter-spacing: 2px;
  background-color: rgba(196, 226, 166, 0.829);
  border: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 3px;
  width: 150px;
  color: rgba(16, 29, 4, 0.829);
}

.pagination_next:hover {
  background-color: rgba(133, 175, 91, 0.829);
}

.nav_btn:hover {
  background-color: rgba(133, 175, 91, 0.829);
}

/* Styles para Cards cuando los filtros are clicked */
.cards_all.clicked {
  grid-template-columns: 20% 75%; /* Container: 80% & Navbar 20% */
}

/* Styles para Cards cuando filtros are clicked */
.cards_card.clicked {
  grid-template-columns: repeat(2, 20px);
}

.cards_all.clicked .navbar {
  display: block;
  width: 85%;
  text-align: center;
  animation: fadeIn 1.2s ease forwards;
}

.cards_all.noClicked .navbar {
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Ajustar Cards cuando NavBar isn't clicked */
.cards_card.noClicked {
  grid-template-columns: repeat(1, 100%); /* Cards 100% width */
}
