.searchbar {
  margin-top: 35px;
  height: 35px;
  min-width: 100%;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 8px;
  background-color: rgb(255, 255, 255);
}

.searchbar::placeholder {
  color: rgba(0, 0, 0, 0.705);
}
