.creatediet_container {
  /* ...otros estilos ... */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.creatediet_container input {
  /* ...estilos del input ... */
  margin-top: 15px;
  margin-bottom: 15px;
  height: 40px;
  min-width: 470px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(173, 131, 33);
  background-color: rgba(242, 234, 213, 0.826);
}

.button_container {
  /* border: 1px solid rgb(236, 210, 150); */
  background-color: rgb(198, 145, 11);
  color: rgb(255, 243, 219);
  height: 45px;
  border-radius: 10px;
  border: none;
  display: flex;
  width: 150px;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 22px;
}

.button_container:hover {
  background-color: rgb(255, 183, 0);
  box-shadow: 0 0 15px  rgb(78, 59, 9);
  color: rgb(56, 40, 9);
  /* outline: 1px inset rgb(50, 38, 7); */
}
