.myrecipes_background {
  background-color: rgb(180, 91, 113);
}



.myrecipes_container {
  display: grid;
  justify-content: end;
  align-items: start;
  height: 100vh;
  width: 100%;
  grid-template-columns: 30% 66%;
  gap: 0px;
}

.myrecipes_img {
  background-image: url("../../../Images/MyRecipes.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.myrecipes_center {
  border: 3px solid rgb(164, 79, 100);
  margin-top: 50px;
  padding: 20px;
  margin-left: -9px;
  background-color: rgba(0, 0, 0, 0.133);
  color: white;
  text-align: center;
  grid-column: 2;
}

/*
rgb(255, 238, 204);
rgb(255, 221, 204);
rgb(255, 204, 204);
rgb(254, 187, 204);
rgb(255, 234, 221);
rgb(252, 174, 174);
rgb(255, 137, 137);
rgb(255, 102, 102);
*/

.myrecipes_title {
  min-width: 98%;
  text-align: center;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(245, 178, 195);
  background-color: rgb(72, 10, 26);
  font-size: 90px;
  letter-spacing: 5px;
  padding: 8px;
}

.myrecipes_item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background-color: rgba(254, 187, 204, 0.785);
  min-height: 50px;
  border: none;
}

.myrecipes_item:hover {
  color:  rgb(63, 10, 23);
  background-color: rgb(254, 215, 224);
}

.myrecipes_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


/*

  color:  rgb(145, 24, 54);
  background-color: rgb(249, 189, 204);

*/

.myrecipes_content:hover {
  color:  rgb(63, 10, 23);
  background-color: rgb(249, 189, 204);
}

/* Add styles for the recipe buttons */
.myrecipes_btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 28px;
  margin-left: 5px;
  margin-right: 15px;
}

/* Add container for the buttons to align them to the right */
.myrecipes_container_btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px; /* Agregar un espacio entre los botones */
}

.myrecipes_title_recipe {
  margin-left: 10px;
  font-size: 35px;
  color: rgb(63, 10, 23);
}

.myrecipes_title_recipe:hover {
  color:  rgb(63, 10, 23);
  background-color: rgb(249, 189, 204);
}
