

.navbar {
  max-width: 20%;
}


.nav_search {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 10px;
  border-radius: 20px;
  background-color: rgba(186, 216, 153, 0.541);
  min-width: 15%;
}

.nav_filters select {
  height: 35px;
  width: 300px;
  margin-top: 40px;
  border-radius: 5px;
  background-color: rgba(97, 29, 29, 0);
  border: none;
  font-size: 18px;
  color: rgb(34, 53, 13);
}

.nav_filters select:focus {
  outline: none;
  background-color: rgb(243, 253, 232);
}

.nav_filters select:hover {
  background-color: rgba(115, 148, 79, 0.722);
  color: rgb(244, 255, 232);
}



/* .nav_container {
  display: grid;
  place-items: center;
  background-color: rgb(186, 216, 153);
  min-height: 800px;
  border-radius: 20px;
  margin-left: 10px;
} */

/* 
Paleta de colores
rgb(193, 174, 252);
rgb(120, 193, 243);
rgb(155, 232, 216);
rgb(226, 246, 202);
rgb(248, 253, 207);
rgb(7, 25, 82);
rgb(11, 102, 106);
rgb(53, 162, 159);
rgb(151, 254, 237);
rgb(241, 246, 249);
rgb(57, 72, 103);
rgb(33, 42, 62);
rgb(0, 43, 91);
rgb(43, 72, 101);
rgb(37, 109, 133);
rgb(143, 227, 207);
rgb(155, 164, 181);
rgb(221, 330, 228);
rgb(152, 216, 170);
rgb(40, 204, 158);
rgb(25, 107, 105);
rgb(19, 47, 50);
rgb(206, 206, 90);
rgb(122, 157, 84);
rgb(85, 122, 70);
rgb(26, 93, 26);
rgb(187, 214, 184);
rgb(174, 194, 182);
rgb(148, 175, 159);
rgb(219, 228, 198);
rgb(242, 238, 157);
rgb(243, 233, 159);
rgb(250, 227, 146) 
rgb(255, 225, 123);
rgb(251, 216, 93);
rgb(247, 208, 96);
rgb(241, 201, 59);
rgb(255, 109, 96);
rgb(253, 141, 20);
rgb(197, 22, 5);
rgb(140, 51, 51);
*/
