.mydiets_img {
  background-image: url("../../../Images/MyDiets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  display: grid;
}

.mydiets {
  height: 100vh;
  min-width: 100%;
  display: grid;
  justify-content: end;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.086);
}

.mydiets_center {
  max-width: 150%;
  background-color: rgba(0, 0, 0, 0.522);
  height: 98vh;
}

.mydiets_h2 {
  font-weight: bold;
  color: #f6f4eb;
  background-color: #113248;
  min-width: 100%;
  font-size: 90px;
  margin-top: 10px;
}

.mydiet_items {
  background-color: #4681a951;
  margin-top: 10px;
  position: relative;
}

.mydiet_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  min-width: 100%;
  border: 5px solid white;
  background-color: #84c8f59c;
  margin-bottom: 40px;
}

.mydiet_items:hover {
  background-color: #0e2a3caa;
  box-shadow: 0 0 15px #bae5ffaa;
  color: black;
}

.mydiet_name {
  font-size: 30px;
  color: #ddf9f9;
  min-width: 1080px;
  position: relative;
  margin-left: 0px;
}

.mydiet_input {
  height: 40px;
  min-width: 900px;
  margin: 8px;
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgb(220, 251, 253);
  border-bottom: 1px solid rgb(95, 27, 27);
  outline: none;
}

.mydiets_btn {
  display: grid;
  justify-content: end;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* border: 1px solid white; */
  color: #ddf9f9;
  font-size: 18px;
  padding: 3px;
  margin-right: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
}
