.register_container {
  display: grid;
  text-align: center;
  justify-content: center;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-image: url("../../Images/Heaven2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.register_form {
  display: grid;
  text-align: center;
  justify-content: center;
  place-items: center;
  min-height: 750px;
  min-width: 800px;
  border-radius: 10px;
  /* border: 1px solid black; */
  background-color: rgb(250, 227, 146);
}

.register_titles {
  margin: 20px;
}

.register_title {
  padding: 15px;
  font-size: 80px;
  color: rgb(165, 15, 15);
  margin-bottom: 20px;
}

.register_subtitle {
  padding: 15px;
  font-size: 35px;
  color: rgb(95, 27, 27);
  margin-bottom: 20px;
}

.register_input {
  height: 35px;
  width: 350px;
  margin: 8px;
  border: none;
  text-align: center;
  font-size: 18px;
  border-radius: 4px;
  background-color: rgb(252, 241, 202);
  border-bottom: 1px solid rgb(95, 27, 27);
  outline: none;
}

.register_btn {
  margin-top: 30px;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  font-size: 20px;
  border:  none;
  color: rgba(252, 230, 230, 0.897);
  background-color: rgb(146, 58, 58);
}

.register_btn:hover {
  border: none;
  color: rgb(252, 243, 243);
  border: 1px inset rgb(0, 0, 0);
  background-color: rgb(99, 25, 25);
  /* box-shadow: 0 0 6px 2px rgb(224, 224, 76); */
  cursor: pointer;
  box-sizing: border-box;
}


