.diets select {
  min-width: 600px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(207, 208, 125, 0.533);
  border: 1px solid rgba(56, 8, 8, 0.199);
  font-size: 18px;
  letter-spacing: 3px;
}

.diets select:hover {
  background-color: rgba(244, 246, 134, 0.809);
}

.diets select::placeholder {
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
}
