.steps {
  text-align: center;
  margin-bottom: 20px;
}

.steps input {
  height: 33px;
  min-width: 600px;
  margin-top: 20px;
  background-color: rgba(207, 208, 125, 0.533);
  border: none;
  text-align: center;
  font-size: 19px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(56, 8, 8, 0.199);
  outline: none;
}

.steps input:hover {
  background-color: rgba(217, 218, 135, 0.949);
}

.steps button {
  height: 30px;
  width: 150px;
  margin: 15px;
  border-radius: 5px;
  padding: 5px;
  font-size: 17px;
  border: none;
  color: rgb(206, 206, 90);
  background-color: rgba(91, 91, 21, 0.768);
  text-align: center;
}

.steps button:hover {
  border: none;
  color: rgb(34, 34, 5);
  background-color: rgb(136, 136, 28);
  cursor: pointer;
  box-sizing: border-box;
}
