.diets {
  height: 100vh;
  display: grid;
  grid-template-columns: 40% 60%; /* Dos columnas del 50% cada una */
}

.diets_img {
  background-image: url("../../../Images/AllDiets.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%; /* Cambiar a 100vh para que ocupe toda la altura del viewport */
  grid-column: 1; /* Colocar la imagen en la primera columna */
}


.diets_center {
  grid-column: 2; /* Colocar el div "center" en la segunda columna */
  background-color:  rgba(239, 174, 10, 0.357);
  /* justify-content: center; 
  text-align: center; */
  place-items: center;
  max-width: 100%;
  height: 100%; /* Cambiar a 100vh para que ocupe toda la altura del viewport */
  display: grid;
}
.diets h2 {
  color: rgb(61, 45, 12);
  background-color: rgb(239, 174, 10);
  min-width: 100%;
  font-size: 75px;
  margin-top: 45px;
  text-align: center;
}
/* 
.diets_container_item {
  justify-content: center;
  align-items: center;
} */

.diet_item {
  border-radius: 8px;
  min-width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 184, 3, 0.338);
  min-height: 50px;
  margin-bottom: 40px;
}

.diet_item:hover {
  background-color: rgba(254, 182, 1, 0.659);
  color: black;
}

.diet_name {
  margin-left: 13px;
  font-size: 35px;
  color: rgb(39, 29, 5);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttons button {
  font-size: 17px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 17px;
  color: rgba(0, 0, 0, 0.782);
  font-size: 19px;
}

.buttons button:hover {
  color: rgb(0, 0, 0);
}
