.about_container {
  display: grid;
  grid-template-columns: 38% 62%;
  min-height: 100vh; /* Cambiar a 100vh para que ocupe toda la altura del viewport */
  min-width: 100%;
}

.about_img {
  background-image: url("../../Images/About.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  grid-column: 1;
}

.about_description {
  margin-top: 40px;
  grid-column: 2; /* Colocar el div "center" en la segunda columna */
  background-color: rgba(243, 184, 33, 0.481);
  color: rgb(45, 6, 6);
  /* justify-content: center; 
  text-align: center; */
  place-items: center;
  max-width: 100%;
  height: 100%; /* Cambiar a 100vh para que ocupe toda la altura del viewport */
  display: grid;
}

/* .about_description p {
  max-width: 100%;
  overflow-wrap: break-word;
} */

.about_name{
  font-size: 100px;
  background-color: rgba(255, 140, 0, 0.848);
  color: rgba(250, 217, 135, 0.907);
  min-width: 100%;
  text-align: center;
}
.about_dev{
  font-size: 50px;
  background-color: rgba(255, 142, 3, 0.848);
  color: rgb(0, 0, 0);
  min-width: 100%;
  text-align: center;
}
.about_container_p {
  /* font-family: "Pacifico", cursive; */
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 30px;
  margin-top: -100px;
}

.about_p {
  font-size: 20px;
  /* font-weight: bold; */
}
